.modalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 516px;
    background-color: white;
}

.modal-header {
    padding: 0 30px;
    background-color: deepskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 60px;
        font-weight: 500;
        color: gray;
    }
    
    .closeButton {
        cursor: pointer;
		border: none;
		background-color: transparent;
    }
}

.text {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 40px;
    margin: 0;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;

    .actionButton {
        width: 100px;
        margin: 0 5px;
        padding: 15px;
        text-align: center;
        background-color: #b3382c;
        color: #ffffff;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
        }
}

